/* .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.main-page {
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    top: 20vh;
}

.shop-item-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.shop-item {
  text-align: center;
  background-image: linear-gradient(
    rgb(211, 211, 211, 0.85),
    rgb(128, 128, 128, 0.85)
  );
  border-radius: 25px;
  margin: auto;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  margin-bottom: 15px;
  background-color: indianred;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.shop-item-image {
  height: 150px;
  width: 250px;
  opacity: 70%;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.shop-item-price {
  color: #333;
  padding: 0.2vw;
}

.shop-item-button {
  font-size: 0.7vw;
  width: 70%;
  border-radius: 5px;
}
